html {
	overflow-x: hidden;
	
}
body {
	font-family: Arial, Helvetica, tahoma sans-serif;
	font-size: 12px;
	line-height: 1.6;
	color: #282828;
	background: url(../imgs/body_bg.png) repeat left top #f0f0f0;
}
.wrap_flag{
background: url(../imgs/Gerb_Nepal_Flag.png);
background-repeat:no-repeat;
background-position: center;
background-size:100%;	
height:150px;
width:100px;
display:block;
  z-index: 999999;
  position: fixed;
  top:86px;
 margin:0 0 0 -118px;
	}
.fl {
	float: left;
}
.fr {
	float: right;
}
#wrapper {
	width: 100%;
	margin: 0 auto;
}
/* Heading */
h1, h2, h3, h4, h5, h6 {
	color: #838383;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	line-height: 1;
}
h1 {
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 20px;
	color: #888;
}
h2, h3 {
	font-size: 15px;
	margin-bottom: 15px;
	text-transform: uppercase;
	color: #888;
}
h3 {
	font-size: 14px;
	margin:30px 0 15px 0;
}
.grid_5 .item1 h2 {
	padding:0 0 10px 0;
	border-bottom:1px solid #e0e0e0;
}
h2 span, h3 span, .about_us h1 span {
	color: #d01a13;
}
#inner_container h3 {
	
 
    font-size: 17px;
    margin: 0 0 20px;
    text-transform: none;

}

h5 {
	font-size: 15px;
	margin-bottom: 10px;
font-weight:bold;
}
h6 {
	font-size: 19px;
	margin-bottom: 15px;
	padding: 0px;
}
/* links */
a {
	color: #1864E7;
	text-decoration: none;
}
a:hover {
	color: #555555;
}
img {
	border: none;
	vertical-align: top;
}
/* paragraphs,blockquote,code */
p {
	margin-bottom: 20px;
	color: #888;
	font: normal 13px/20px 'Open Sans', Arial, Helvetica, sans-serif;
}
/* MAIN */
#logo {
	width: 377px;
	height: 68px;
	background: url(../imgs/mole_logo.png) no-repeat 50% 0;
	display: block;
	text-indent: -9999px;
}
/* BEGIN TEMPLATE */
#header {
	position: relative;
	z-index: 9999;
	background: url(../imgs/header_bg.png) repeat-x left top;
	width: 100%;
	margin: 0 auto;
	height: 38px;
}
#header_bottom {
	position: relative;
	background: url(../imgs/header_bottom_bg.png) repeat-x left top;
	width: 100%;
	margin: 0 auto;
	height: 40px;
}
/* Top Header */
#topheader {
	height: 70px;
	display: block;
	width: 920px;
	float: left;
	padding: 15px 20px;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid #e3e3e3;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-8 */
}
.home {
	display: block;
	width: 56px;
	height: 35px;
	border-right: 1px solid #FFFFFF;
	border-left: 1px solid #CECECE;
}
.home a {
	display: block;
	width: 26px;
	height: 26px;
	padding: 4px 14px;
	background: url(../imgs/menu_home.png) no-repeat center;
	border-left: 1px solid #FFFFFF;
	border-right: 1px solid #CECECE;
}
.home a:hover {
	background: url(../imgs/menu_home_hover.png) no-repeat center;
	opacity: 0.8;
	filter: alpha(opacity=0.8);
}
#search-box {
	float: left;
	height: 23px;
	margin: 5px 0 0 0px;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 168px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	background: #fafafa;
	border: 1px solid #cecece;
}
#search-box input[type="text"] {
	background: none;
	border: none;
	color: #abaaaa;
	height: 23px;
	margin: 0;
	width: 129px;
	padding: 0 5px;
	font: 10px 'Open Sans', Arial, Helvetica, sans-serif;
	display: block;
}
.btn-search {
	display: block;
	border: none;
	height: 22px;
	width: 25px;
	background: url(../imgs/search_icon.png) no-repeat center;
	cursor: pointer;
}
.btn-search:hover {
	background: url(../imgs/search_icon_hover.png) no-repeat center;
}
.language {
	display: block;
	font: 11px 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 10px 0 0;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
}
.language a.nepal {
	margin: 0 10px;
}
.language a.color {
	color: #797979;
}
.language a.color:hover {
	color: #4c4c4c;
}
.language a.active {
	color: #d01a13;
}
.language a.active:hover {
	color: #fa0900;
}
ul.sub_nav {
	display: block;
	float: left;
	width: 100%;
	margin: 8px 0 0 0;
}
ul.sub_nav li {
	border-right: 1px solid #F1F1F1;
	float: right;
	list-style: none outside none;
	padding: 0;
	text-align: center;
}
ul.sub_nav li a {
	border-right: 1px solid #BCBCBC;
	color: #949494;
	float: left;
	font: 11px/21px 'Open Sans', arial, serif;
	height: 22px;
	padding: 0px 10px;
	position: relative;
	text-decoration: none;
	text-shadow: 1px 1px 1px #FFFFFF;
	text-transform: uppercase;
}
ul.sub_nav li a:hover {
	color: #D01A13;
}
.links {
	display: block;
	margin: 7px 0 0 10px;
}
.links ul li {
	display: block;
	margin: 0 0px 0 0;
	float: right;
}
.links ul li:last-child {
	margin: 0 0 0 0;
}
.links ul li a {
	display: block;
	padding: 3px 0 0 0;
	display: block;
	font: 11px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #767676;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	padding: 45px 10px 0;
	text-align: center;
	text-transform: uppercase;
}
.links ul li a:hover {
	color: #d01a13;
}
.download {
	display: block;
	background: url(../imgs/icon_download.png) no-repeat 50% 0;
	background-size: 36px;
}
.download:hover {
	background: url(../imgs/icon_download_hover.png) no-repeat 50% 0;
	background-size: 36px;
}
.login {
	display: block;
	background: url(../imgs/icon_login.png) no-repeat 50% 0;
	background-size: 36px;
}
.login:hover {
	background: url(../imgs/icon_login_hover.png) no-repeat 50% 0;
	background-size: 36px;
}
/* Container */	
#container, #inner_container{
	position: relative;
	z-index: 9;
	margin:40px auto 0;
	background-color: #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0 0 10px #ADADAD;
	-webkit-box-shadow: 0 0 10px #ADADAD;
	box-shadow: 0 0 10px #ADADAD;
}
/*News flyer Block*/	
.newsticker {
	width: 932px;
	height: 33px;
	display: block;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #e0e0e0;
	background: url(../imgs/flyer_bg.png) no-repeat center;
	padding: 20px 14px
}
.ticker_title {
	display: block;
	padding: 10px 10px;
	font: bold 13px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
background: #1c50ad; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjNTBhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTMyODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c50ad 0%, #0e3283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c50ad), color-stop(100%,#0e3283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c50ad 0%,#0e3283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c50ad', endColorstr='#0e3283',GradientType=0 ); /* IE6-8 */



}
.ticker_title h3 {
	margin: 0 0 0 0;
	color: #fff;
}
.ticker_block {
	width: 836px;
	height: 32px;
	display: block;
	margin: 10px 0 0 15px;
}
.ticker_block p {
	font: normal 12px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #888;
	float: left;
	margin: 0 10px 0 0;
}
.readon {
	font: 11px 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
	float: left;
	color: #d01a13;
}
.readon:hover {
	color: #FA0900;
}
/* News flyer Ends */



/* About Starts*/
.about {
	display: block;
	width: 508px;
	height: 259px;
	padding: 20px 20px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-bottom: none;
	-moz-border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
		box-shadow: 0px 0px 2px #e2e2e2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}

.about p {
font:12px/20px 'Open Sans',Arial,Helvetica,sans-serif;
	
}
.about p span{
color:#D01A13;	
}
.btn_red, .btn_blue{
	display: block;
	text-align: center;
	padding: 2px 20px;
	-moz-border-radius: 3px 3px 3px 3px;
	-webkit-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 3px 3px;
	color: #fff;
	font: 11px/17px 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #1a1a1a;
	filter: dropshadow(color=#1a1a1a, offx=-1, offy=-1);
	background: #eb2a22; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #eb2a22 0%, #d01a13 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb2a22), color-stop(100%, #d01a13)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #eb2a22 0%, #d01a13 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #eb2a22 0%, #d01a13 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #eb2a22 0%, #d01a13 100%); /* IE10+ */
	background: linear-gradient(to bottom, #eb2a22 0%, #d01a13 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eb2a22', endColorstr='#d01a13', GradientType=0 ); /* IE6-8 */
	-moz-box-shadow: 1px 1px 2px #7D7D7D;
	-webkit-box-shadow: 1px 1px 2px #7D7D7D;
	box-shadow: 1px 1px 2px #7D7D7D;
	border: none;
	cursor: pointer;
	margin: 0 0 0 20px;
}
.btn_red:hover {
	color: #FFF;
	background-color: #fd150c;
	background-image: url(../imgs/noise.png);
	background-repeat: repeat;
	background-position: left top;
}
.btn_blue{
	color: #fff;
background: #1c50ad; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjNTBhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTMyODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c50ad 0%, #0e3283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c50ad), color-stop(100%,#0e3283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c50ad 0%,#0e3283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c50ad', endColorstr='#0e3283',GradientType=0 ); /* IE6-8 */	
	
	}

.btn_blue:hover {
	color: #FFF;
	background-color: #1c50ad;
	background-image: url(../imgs/noise.png);
	background-repeat: repeat;
	background-position: left top;
}


/* About Ends*/

/* Highlight Block Starts */
.highlight {
	width: 289px;
	display: block;
	background-color: #fff;
	-moz-box-shadow: 15px 15px 20px #CFCFCF;
	-webkit-box-shadow: 15px 15px 20px #CFCFCF;
	box-shadow: 15px 15px 20px #CFCFCF;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}
.intro_block {
	width:93%;
	padding: 10px 10px;
	display: block;
	margin: 0 0 10px 0;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}
.intro_block:hover {
	background-color: #f8f8f8;
}
.intro_box {
	width: 52%;
	display: block;
	height: 107px;
	margin: 0 0 0 10px;
}
.intro_box .name, .intro_box .title {
	display: block;
	color: #d01a13;
	font: normal 13px/16px 'Open Sans', Arial, Helvetica, sans-serif;
}
.name{
width:100%	
	}
.intro_box .title {
	color: #888;
	font: normal 11px/28px 'Open Sans', Arial, Helvetica, sans-serif;
}
/* Highlight Block Ends */


/* Main contents starts */			
.item1, .item2, .item3 {
	display: block;
	padding: 30px 0 0 0;
	width:100%/* added ......*/
}
.grid_5 .item1{
padding: 30px 0 30px 0;
border-bottom:1px solid #e0e0e0;	
	}
#inner_container .grid_5 .item1{
padding:40px 0;
border-bottom:none;	
	}	
	#inner_container .grid_6 .item1{
padding:20px 20px;
border:1px solid #e0e0e0;	
background-color:#fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	}
.item1 .item1_content {
	display:block;
	width:100%;
}
.item1 .item1_content p {
	font: normal 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #888;
	display:block;
	height:64px;
}
#inner_container .item1_content p {
	font: normal 12px/20px 'Open Sans', Arial, Helvetica, sans-serif;
	
	height:auto;
}
#inner_container .item1_content{
padding:20px 0 0 0;	
	
	}
.item1 .right_col {
	display:block;
	width:56%;
}
.view_all {
	color: #d01a13;
	font:normal 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 0 5px;
}
.item1 ul li, .highlight ul li, .item2 ul li {
	float: left;
	display: block;
	padding: 0 0 10px 20px;
	margin: 0 0 10px 0;
	background: url(../imgs/arrow_bullet.png) no-repeat left 5px;
	border-bottom: 1px solid #e0e0e0;
}
.item1 ul li:last-child, .item2 ul li:last-child {
		margin: 0 0 0px 0;
	}
.item1 ul li h4 {
	float: left;
	display: block;
	color: #d01a13;
	font: normal 13px/18px 'Open Sans', Arial, Helvetica, sans-serif;
}
.item1 ul li a.more, .item1 .item1_content .more {
	color: #d01a13;
	font: bold 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 0 5px;
}
.item1 ul li a.title_date {
	background: url(../imgs/icon_date.png) no-repeat left top;
	padding: 0 0 0 20px;
	margin: 0 0 0 10px;
	font: normal 10px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #888;
}
.item1 ul li span, .item2 ul li span {
	font: normal 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #888;
	float: left;
	width: 100%;
	display: block;
}
.item2  ul{
padding:10px 0 0 0;	
	}
.item2 ul li {


	border-bottom:none;
}
.poll_block {
	display: block;
}
.poll_topic {
	display: block;
	font: bold 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	margin: 0 0 10px 0;
}
.form_holder1 {
	display: block;
	float: left;
	width: 100%;
	margin: 0 0 5px 0;
}
.poll_block label {
	color: #888;
}
.block_img1, .block_img4 {
	display: block;
	width: 105px;
	height: 99px;
	border: 1px solid #ddd;
	padding: 4px 4px;
	background-color: #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #e2e2e2;
	-webkit-box-shadow: 0px 0px 2px #e2e2e2;
	box-shadow: 0px 0px 2px #e2e2e2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	overflow:hidden;
}
.block_img4 {
	
	width: 150px;
	height: 140px;

}
.block_img1:hover, .block_img2:hover {
	border: 1px solid #e6e6e6;
}
.block_img2 {
	display: block;
	width: 211px;
	height: 126px;
	border: 1px solid #ddd;
	padding: 6px 6px;
	background-color: #fff;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	-moz-box-shadow: 0px 0px 2px #e2e2e2;
	-webkit-box-shadow: 0px 0px 2px #e2e2e2;
	box-shadow: 0px 0px 2px #e2e2e2;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	overflow:hidden;
}
.block_img3 {
height: 126px;
padding: 8px 8px 12px;
    margin: 0 10px 10px;
    width: 140px;
	display:block;
	border-radius: 3px 3px 12px 12px;
		-moz-border-radius: 3px 3px 12px 12px;
	-webkit-border-radius:  3px 3px 12px 12px;
		background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #ffffff));
	background: -webkit-linear-gradient(top, #fafafa 0%, #ffffff 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #ffffff 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #ffffff 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#ffffff', GradientType=0 );
	background: linear-gradient(top, #fafafa 0%, #ffffff 100%);
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8) inset, 0 -4px 0 rgba(0, 0, 0, 0.1) inset, 0 0 10px rgba(255, 255, 255, 0.5) inset, 0 0 0 1px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.2);
	
			-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	overflow:hidden;
	float:left;
}
.block_img3:hover{
background:#f8f8f8;	
	
	}
.block_img3 span{
	display:block;
	color:#888;
		font:11px/18px 'Open Sans', Arial, Helvetica, sans-serif;
		margin:5px 0 0 0;
		text-shadow: 0px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
	}

/* Tab link CSS   */
#simple-tabs {
	display:block;
	margin:30px 0 0 0;
}
#simple-tabs ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	width: 100%;
}
#simple-tabs ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #e0e0e0;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #f2f2f2;
}
#simple-tabs ul.tabs li a {
	text-decoration: none;
	color: #888;
	display: block;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
	font: 13px/29px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform:uppercase;
}
#simple-tabs ul.tabs li.active a {
	color: #D01A13;
}
#simple-tabs ul.tabs li a:hover {
	background: #e5e5e5;
}
#simple-tabs ul.tabs li.active, #simple-tabs ul.tabs li.active a:hover {
	background: #fff;
	border-bottom: 1px solid #fff;
}
#simple-tabs ul.tabs li.active {
	border-top: 1px solid #e0e0e0;
}
#simple-tabs .tab_container {
	border: 1px solid #e0e0e0;
	border-top: none;
	float: left;
	width: 100%;
	height: 228px;
	background: #fff;
	-webkit-border-radius: 0 0px 4px 4px;
	-moz-border-radius:0 0px 4px 4px;
	border-radius: 0 0px 4px 4px;
	-webkit-box-shadow: 2px 2px 3px -1px rgba(143, 143, 143, 0.2);
	box-shadow:  2px 2px 3px -1px rgba(143, 143, 143, 0.2)
}
#simple-tabs .tab_content {
	padding: 40px 20px 0;
	float:left;
	width:502px;/* added ...... */
}
.tabs-minimal-style ul.tabs li {
	float: left;
	margin-left: 15px;
	border-left: 1px dotted #ccc;
	padding-left: 15px;
}
.tabs-minimal-style ul.tabs li:first-child {
	margin-left: 0;
	border-left: 0;
	padding-left: 0;
}
.tabs-minimal-style ul.tabs li a {
	color: #888;
	font-weight: bold;
}
.tabs-minimal-style ul.tabs li.active a {
	color: #444;
}
.tabs-minimal-style .tab_container {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 25px;
}
.tabs-clean-style {
	margin-bottom: 25px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 3px #b4b4b4;
	-moz-box-shadow: 0 0 3px #b4b4b4;
	box-shadow: 0 0 3px #b4b4b4;
}
.tabs-clean-style ul.tabs {
	height: 40px;
	margin: 0;
	padding: 0;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background: #fafafa;
	background: -moz-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafafa), color-stop(100%, #e6e6e6));
	background: -webkit-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
	background: -o-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
	background: -ms-linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#e6e6e6', GradientType=0 );
	background: linear-gradient(top, #fafafa 0%, #e6e6e6 100%);
}
.tabs-clean-style ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 38px;
	border: 1px solid #dfdfdf;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
}
.tabs-clean-style ul.tabs li:first-child {
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
}
.tabs-clean-style ul.tabs li a {
	color: #6e6e6e;
	font-weight: bold;
	padding: 0 20px;
	text-shadow: 0 1px #fff;
	line-height: 40px;
}
.tabs-clean-style ul.tabs li.active {
	background: #fff;
	border-bottom: 1px solid #fff;
}
.tabs-clean-style ul.tabs li.active a {
	color: #EB540A;
}
.tabs-clean-style .tab_container {
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
}
.tabs-clean-style .tab_content {
	padding: 20px 20px 0;
}
.tab_grid1{
display:block;	
width:73%;	
	}
.tab_grid1 p{
font-size:12px;	
	
	}	
.tab_grid1 p span{
color:#d01a13;	
font-size:11px;	
	}
.tab_grid2{
display:block;	
float:left;
width:100%;	
	}	
	.tab_grid2 ul li{
display:block;
float:left;
margin:0 0 20px 0;
	
	}
.tab_grid2 ul li{
display:block;
float:left;
margin:0 0 5px 0;
width:99%;	
	}
.tab_grid2 ul li a{
color:#888;
float:left;	
	}
.tab_grid2 ul li a:hover{
text-decoration:underline;
	}	
.list_style_red_dot{
border-radius:5px;	
width:5px;
height:5px;
display:block;
background-color:#d01a13;
margin:7px 8px 0 0;
	}	
	
	
	
/* Gallery CSS   */	
.gallery_thumnail{
display:block;
width:100%;	
	}



/* Footer CSS  */	
#bottom {
	display:block;
	width:100%;
	float:left;
	position:relative;
	top:-5px;
	background-image:url(../imgs/bottom_noise.png);
	background-repeat: repeat;
	background-position: left top;
	background-color:rgba(255,255,255,1);
	border-bottom:1px solid #c7c7c7;
}
.bottom_contain_1 {
	display:block;
	margin:0 auto;
	width: 960px;
	padding:5px 0 0 0;
}
.contact_holder {
	display:block;
	float:left;
	margin:0 0 10px 0;
}
.contact_holder strong {
	display:block;
	float:left;
	font:bold 12px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#686868;
	margin:0 5px 0 0;
}
.contact_holder p, .address p {
	margin:0 0 10px 0;
}
.contact_holder p span {
	display:block;
	margin: -2px 0 0;
	width: 160px;
	float:left;
}
.address .contact_holder p {
	display:block;
	float:left;
}
.tel {
	display:block;
	padding:0 0 0 30px;
	background:url(../imgs/icon_tel.png) no-repeat left 2px;
	float:left;
}
.email {
	display:block;
	padding:0 0 0 30px;
	background:url(../imgs/icon_email.png) no-repeat left 4px;
	float:left;
}
.email a {
	display:block;
	font:bold 12px 'Open Sans', Arial, Helvetica, sans-serif;
	color:#d01a13;
}
.email a:hover, .social ul li a:hover {
	text-decoration:underline;
}

.border_lt_white {
	border-left:1px solid #f5f4f4;
}
.border_rt_gray {
	border-right:1px solid #c7c7c7;
}

.bottom_contain_1 .grid_7 {
	width:208px;
	height:315px;
	padding:0 20px;
	margin:0 0 0 0;
}
.useful_links ul li {
	float:left;
	display:block;
	background:url(../imgs/arrow_bullet.png) no-repeat left 16px;
	padding:10px 10px 10px 20px;
	border-bottom:1px solid #f5f4f4;
	border-top:1px solid #c7c7c7;
	width:96%;
}
.useful_links ul li:first-child {
	background-position:left 6px;
	border-top:none;
	padding:0 10px 10px 20px;
}
.useful_links ul li:last-child {
	border-bottom:none;
}
.useful_links ul li a {
	color: #888888;
	font: 13px/20px 'Open Sans', Arial, Helvetica, sans-serif;
}
.useful_links ul li a:hover {
	color:#d01a13;
}
.social ul li {
	float:left;
	display:block;
	padding:0 0 0 30px;
	margin:5px 0;
	width:95%;
}
.social li:first-child {
	margin: 0 0 5px 0;
}
.social ul li a {
	color: #888888;
	font: 13px/20px 'Open Sans', Arial, Helvetica, sans-serif;
}
.bottom_fancy {
	padding:0 0 0 0 !important;
	width:230px !important;
}
.bottom_fancy h3 {
	padding:0 0 0 20px !important;
}
.bottom_fancy ul li {
	padding:10px 0px 10px 40px !important;
	width:82%;
	background:url(../imgs/arrow_bullet.png) no-repeat 20px 16px;
}
.bottom_fancy ul li:first-child {
	padding:00px 0px 10px 40px !important;
	background-position:20px 6px;
}
.facebook {
	background: url(../imgs/social_sprite.png) no-repeat left top;
}
.twitter {
	background: url(../imgs/social_sprite.png) no-repeat left bottom;
}
#footer .grid_6 {
	margin:0;
}
#footer .grid_7 {
	margin:0 0 0 10px;
}
#footer {
	display:block;
	width:100%;
	margin: 0 0 5px;
	float:left;
	background: #c7c7c7;
}
.footer_content {
	width: 960px;
	padding: 10px 0px 10px 0;
	margin: 0 auto;
}

.dev-text, .copyright-text {
	font: normal 11px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #7c7c7c;
	text-shadow: 1px 1px 1px #fff;
}
.dev-text a {
	color: #5d5d5d;
}
.dev-text a:hover {
	color: #4d4d4d;
}		
	
#top-link {
	display: none;
	width: 90px;
	background: url(../imgs/totop-arrow.png) left center no-repeat #d01a13;
	color: #fff;

	text-decoration: none;
	padding: 3px 6px 3px 25px;
	position: fixed;
	right: -100px;
	bottom: 100px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
*height: 1.5%;
	z-index: 998;
		font: 11px/17px 'Open Sans', Arial, Helvetica, sans-serif;
	text-shadow: 1px 1px 1px #1a1a1a;
	text-transform: uppercase;
	-moz-box-shadow: 1px 1px 2px #7D7D7D;
	-webkit-box-shadow: 1px 1px 2px #7D7D7D;
	box-shadow: 1px 1px 2px #7D7D7D;
}
#top-link:hover {


}	

/* Inner Page CSS
----------------------------------------------------------------------------------------------------*/

/* About Starts*/
.about_us{
	display: block;
	width: 608px;

	
}

.about_us h1 {
	padding:0 0 10px 0;
		border-bottom: 1px solid #e0e0e0;
	
}
.about_us p strong.spot{
font:bold 12px/17px 'Open Sans',Arial,Helvetica,sans-serif;	
	
	}
.text_box{
display:block;
width:428px;	
margin:0 0 0 20px;	
	}
	.text_box p{
font: 12px/20px 'Open Sans',Arial,Helvetica,sans-serif;
	}
	/* About Ends*/
#inner_container .highlight {
	width: 249px;

	display: block;
	background:url(../imgs/noise.png) repeat left top #fff;
padding:20px 20px;
box-shadow:none;
	border: 1px solid #e0e0e0;
   position: relative;	
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
}	
.highlight .title1{
-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-radius: 0px 0px 5px 5px;;
	border-radius: 0px 0px 5px 5px;
    margin: -28px 0 13px;
    padding: 20px 10px;
    position: relative;
background: #fafafa; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmYWZhZmEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  #fafafa 0%, #ededed 50%, #fafafa 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fafafa), color-stop(50%,#ededed), color-stop(100%,#fafafa)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  #fafafa 0%,#ededed 50%,#fafafa 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  #fafafa 0%,#ededed 50%,#fafafa 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  #fafafa 0%,#ededed 50%,#fafafa 100%); /* IE10+ */
background: linear-gradient(to right,  #fafafa 0%,#ededed 50%,#fafafa 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fafafa', endColorstr='#fafafa',GradientType=1 ); /* IE6-8 */


	 box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
	 -moz-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.7);
	-webkit-box-shadow:1px 1px 2px rgba(0, 0, 0, 0.7);
	
	}
.title1 h2{
margin:	0 0 0 0;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
	}

.piece{
	
	background:url(../imgs/sprite_piece.png) no-repeat 0 0;
    height: 7px;
    left: -5px;
    position: absolute;
    top: 0;
    width: 5px;}
	
.highlight ul li {
	
	padding: 0 0 0px 20px;
	margin: 0 0 10px 0;

	border-bottom:none;
	width:100%; /* added to fix v. short li's ........s.*/
}
.highlight ul li a{
font: 12px/18px 'Open Sans', Arial, Helvetica, sans-serif;	
color:#888;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
}		
.highlight ul li a:hover{

color:#d01a13;

}	
	
	
.articleinfo{
display:block;
width:100%;
padding:0 0 10px 0;
border-bottom:1px solid #e0e0e0;	
float:left;
	
	}		
.print{
	width:16px;
	height:15px;
	display:block;
	background:url(../imgs/icon_printer.png) no-repeat 0 0;
	opacity:0.3;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	transition: all .3s ease;
	
	}
.print:hover{
	
	opacity:0.4;
	}
.date-posted, .date-modified, .author{
	font: 11px/17px 'Open Sans', Arial, Helvetica, sans-serif;
	display:block;
	color:#888;
	text-shadow: 1px 1px 1px #fff;
	margin:0 20px 0 0;
	}
.textblock{
padding:10px 0 8px 0;
border-bottom:1px solid #e0e0e0;
font: 12px/14px 'Open Sans', Arial, Helvetica, sans-serif;	
	}
	
/*** FAQ's Starts ***/
#inner_container a.title1{
float:left;	
display:block;	
	}
#inner_container a.title1 h3{
	color:#d01a13;
	display:block;
	float:left;
	font: 13px/18px 'Open Sans', Arial, Helvetica, sans-serif;	
	margin:0 5px 0 0;
	}	
#inner_container span.total_questions, em.abt_questions{
	color:#888;
	display:block;
	float:left;
	font: 13px/18px 'Open Sans', Arial, Helvetica, sans-serif;
	width:auto;	
	}	
em.abt_questions{
	font-size:11px;	
	}		
	
	
	
/*** FAQ's Ends ***/		
	
	/* Form Srarts*/		
.form_holder2{
display:block;	
float:left;
margin:0 0 10px 0;
color:#f6f6f6;	
width: 100%;
	}
span.text{
color: #888888;
    display: block;
    float: left;
    font: 13px 'Open Sans',Arial,Helvetica,sans-serif;
    margin: 0 0 5px;
    width: 100%;
	}
input[type="text"], input[type="email"], textarea{
	display:block;
	width:97%;
	float:left;
	color:#888;
	padding:3px;
	  font: 11px 'Open Sans',Arial,Helvetica,sans-serif;
	background-color:#f6f6f6;
	border:1px solid #e0e0e0;
		-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius: 5px 5px 5px 5px;
	
	}
.form_holder2 input[type="submit"]{
margin:10px 0 0 0;	
	}	
	
textarea.textarea{
min-height:110px;	
max-height:150px;	
	}

	/* Form Ends*/
	
		/* Accordion Starts*/
	#accordion {
	width: 293px;
	margin:10px 0 0px 0;
	float:left;
}
.acc-item{
margin:0 0 15px 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius:5px;
	border: 1px solid #e0e0e0;

	-moz-box-shadow: 0 0 2px #eaeaea;
	-webkit-box-shadow: 0 0 2px #eaeaea;
	box-shadow: 0 0 2px #eaeaea;
		background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #f0f0f0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%, #f0f0f0 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%, #f0f0f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0', GradientType=0 ); /* IE6-8 */
	}

#accordion .acc_trigger {

	line-height: 2.8;
	color: #D01A13;
	width: auto;
	
}
#accordion .acc_trigger span {
	display: block;
		text-shadow: 1px 1px 1px #fff;
	filter: dropshadow(color=#ffffff, offx=-1, offy=-1);
	padding: 5px 30px 5px 10px;
		  font: 12px 'Open Sans',Arial,Helvetica,sans-serif;
	background: url(../imgs/sprite_accord.png) no-repeat 270px 8px;
	
}
#accordion .acc_trigger.active {
	
}
#accordion .acc_trigger.active span {
	background: url(../imgs/sprite_accord.png) no-repeat 270px -34px;
}
#accordion .acc-item.first .acc_trigger {
	-webkit-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
}
#accordion .acc-item.last .acc_trigger {
	border-bottom: 0;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-webkit-border-bottom-right-radius: 4px;
	-moz-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}
#accordion .acc_container {
	padding: 10px 20px 20px;
	border-top: 1px solid #e0e0e0;
	margin: 0;
	
}

.acc_container p{
	font: 12px 'Open Sans',Arial,Helvetica,sans-serif;
	
	}
.acc_container .btn_red{
	margin:0 0 0 0;
	width:23%;
	} 

/* Accordion Ends*/	
	
section h2{
color: #fff;	
padding:7px;
display:block;
float:left;
background: #1c50ad; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzFjNTBhZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwZTMyODMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #1c50ad 0%, #0e3283 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c50ad), color-stop(100%,#0e3283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #1c50ad 0%,#0e3283 100%); /* IE10+ */
background: linear-gradient(to bottom,  #1c50ad 0%,#0e3283 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c50ad', endColorstr='#0e3283',GradientType=0 ); /* IE6-8 */

	}	
	
.lower_block section ul li{
 border-bottom: 1px dashed #d0d0d0;
    color: #888888;
    float: left;
    font: 13px/20px 'Open Sans',Arial,Helvetica,sans-serif;
    margin-bottom: 10px;
    padding: 0 0 4px;
    width: 100%;
	}	
	
.lower_block section ul{
margin:0 0 30px 0;
display:block;
float:left;	
	}  	
	
	
	
	
